.add-dive-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
    margin: 0 auto 0 auto;
}

.add-dive-card {
    width: 15rem;
    height: 15rem;
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  
    background-color: #33a19bc3;
    border: #000000 1px solid;
    border-radius: 100%;

    cursor: pointer;
    

    .scuba-icon {
        font-size: 5rem;
        color: $titleColor1;
    }
    text {
        color: $titleColor1;
        font-size: 1rem;
    }
}
