.add-dive-button-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 35vw;
    height: auto;
    padding: 0.5rem;
    margin: auto auto auto auto;
    
}

.add-dive-card {
    width: 15rem;
    height: 15rem;
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  
    background-color: #9b0202;
    border: $titleColor1 10px solid;
    border-radius: 100%;

    margin: 0;

    cursor: pointer;
    

    .scuba-icon {
        font-size: 5rem;
        color: $titleColor1;
    }
    h2 {
        font-size: 1rem;
        color: $titleColor1;
    }
}
