
.dive-card {
    width: 80vw;
  
    display: flex;
    flex-flow: column nowrap;
  
    background-color: #2e2b1c8a;
    border: #000000 1px solid;
    border-radius: 2%;

    h2, h3 {
        color: $titleColor1;
        margin: 0;
        padding: 0.75rem
    }
        p {
            color: $titleColor2;
            margin: 0;
            padding: 0.75rem
        }
    img {
        height: auto;
        width: 90%;
        border: whitesmoke solid 0.25rem;
        opacity: 80%;
        align-self: center;
        
        margin: 0.75rem 0 0.75rem 0;
    }
    .delete-button {
        font-size: large;
        color: #9b0202;
        cursor: pointer;
        padding: 0.75rem;
      
        position: absolute;
        align-self: flex-end;
      }
}
    


  
  
  
