:root {
  --gradient: linear-gradient(#3daabd, #1b486f, #00060b);
}

body {
  font-family: 'Space Mono', monospace;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
 
  
  background-size: 300%;
  background-image: var(--gradient);
}



.landing {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5rem;
 
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  
  height: 100vh;
  width: 100vw;
}

.dive-flag {
  height: 8vh;
  width: auto;
  opacity: 90%;
}


.dives-container {
  width: 75vw;
  margin: 1.5rem auto 1.5rem auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  
}

.log-card {
  width: 30vw;

  display: flex;
  flex-flow: column nowrap;

  color: whitesmoke;
  background-color: #2e2b1c8a;
  border: #000000 1px solid;
  border-radius: 2%; 
}

.log-card, h2, h3, p {
  margin: 0;
  padding: 0.75rem
}

.dive-image {
  height: auto;
  width: 90%;
  border: whitesmoke solid 0.25rem;
  opacity: 80%;
  align-self: center;
  
  margin: 0.75rem 0 0.75rem 0;
}

.delete-button {
  font-size: medium;
  color: #9b0202;
  cursor: pointer;


  position: absolute;
  align-self: flex-end;
}

.dive-data-title {
  color: #cbcb14fa;
}

.no-dives-message {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  height: 50vh;
  color: whitesmoke;
  font-size: 2rem;
  text-align: center;
}
