:root {
  --gradient1: linear-gradient(#3daabd, #1b486f, #00070b);
  --gradient2: linear-gradient(#1b486f, #0c2c47, #00070b);
}


body {
  font-family: 'Space Mono', monospace;

  background-size: 300%;
  background-image: var(--gradient1);
}


.landing {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5rem;
 
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  
  height: 100vh;
  width: 100vw;
}

.dive-flag {
  height: 8vh;
  width: auto;
  opacity: 90%;
}


.dives-container {
  width: 75vw;
  margin: 5rem auto 5rem auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  
}

.log-card {
  width: 30vw;

  display: flex;
  flex-flow: column nowrap;

  color: whitesmoke;
  background-color: #2e2b1c8a;
  border: #000000 1px solid;
  border-radius: 2%; 
}

.log-card, h2, h3, p {
  margin: 0;
  padding: 0.75rem
}

.dive-image {
  height: auto;
  width: 90%;
  border: whitesmoke solid 0.25rem;
  opacity: 80%;
  align-self: center;
  
  margin: 0.75rem 0 0.75rem 0;
}

.delete-button {
  font-size: medium;
  color: #9b0202;
  cursor: pointer;


  position: absolute;
  align-self: flex-end;
}

.dive-data-title {
  color: #cbcb14fa;
}

.no-dives-message {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  height: 50vh;
  color: #f5f5f5;
  font-size: 2rem;
  text-align: center;
}

.add-dive-card {
  width: 30vw;

  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;

  background-color: #2e2b1c8a;
  border: #000000 1px solid;
  border-radius: 2%;

  padding: 0.75rem;
}

.scuba-icon {
  position: absolute;
  font-size: 12rem;
  color: #cbcb14fa;
  cursor: pointer;

  z-index: -1;
}

.plus-icon {
  position: absolute;
  font-size: 8rem;
  color: #f5f5f5;
  cursor: pointer; 
}

.add-dive-card-text {
  font-size: 2rem;
  color: #f5f5f5;
  cursor: pointer;

  margin-top: 15rem;
}


.add-dive-form {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  color: #cbcb14fa;

  background-size: 300%;
  background-image: var(--gradient2);
} 

.add-dive-form-title {
  color: #f5f5f5;
  font-size: 2rem;
  margin-bottom: 0.5rem;
 
}

.form-control, label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control, textarea {
  width: 100%;
}

.form-number-input {
  width: 4rem;
}

.add-dive-btn {
  width: 8rem;
  height: 3rem;

  background-color: green;
  color: #f5f5f5;
  cursor: pointer;
  margin: 1rem auto 0 2rem;
  
}

.cancel-dive-btn {
  width: 8rem;
  height: 3rem;

  background-color: #9b0202;
  color: #f5f5f5;
  cursor: pointer;
  margin: 1rem 2rem 0 auto;
}


